@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-slate-50 p-4 text-slate-900;
  }

  @media print {
    @page {
      margin: 0;
    }

    body {
      padding: 0;
    }
  }
}
